
h1 {
    padding: 20px;
    font-weight: bolder;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 57, 88);
    color: whitesmoke;
}



.list{
    background-color: rgb(240, 236, 236);
}

#search{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.forecastTitle{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forecastRow p {
    font-size: 18px;
}

img{
    width: 40px;
    height: 40px;
}
 .green {
    background-color: green;
 }
 .yellow {
    background-color: rgb(251, 255, 0);
 }
 .orange {
    background-color: rgb(255, 187, 0);
 }
 .red {
    background-color: rgb(255, 0, 0);
 }
 .purple {
    background-color: rgb(140, 0, 255);
 }

 button{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }